html,body{
    width: 100%;
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.lt_container{
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.lt_container .lt_header{
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #006699;
    padding: 0 45px;
}
.lt_container .lt_header a{
    display: block;
}
.lt_container .lt_header h3{
    text-align: center;
    color: #fff;
    margin: 0;
    line-height: 45px;
    font-weight: normal;
    font-size: 20px;
}
.lt_header .icon_left,
.lt_header .icon_right{
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
}
.lt_header .icon_left{
    left: 0;
}
.lt_header .icon_right{
    right: 0;
}

.lt_container .lt_footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #006699;
    width: 100%;
    height: 55px;
}

.lt_footer li{
    float: left;
    width: 25%;
    text-align: center;
}
.lt_footer li a{
    display: block;
    color: #fff;
    padding-top: 8px;
}
.lt_footer li a.current{
    color: orange;
}
.lt_footer li a p{
    color: #fff;
    margin: 0;
}
.lt_footer li a.current p{
    color: orange;
}
.lt_main{
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    display: block;
    width: 100%;
}
